<% @recipe.each do |recipe| %>
<div>
  <%= link_to recipe_path(recipe.id) do %>
    <%= attachment_image_tag recipe, :image , :fill, 400, 400%>
  <% end %>
  <p>投稿ユーザー画像:<%= attachment_image_tag recipe.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <p>レシピ名:<%= recipe.name %></p>
  <P>説明文:<%= recipe.description %></P>
  <p>ユーザーネーム:<%= recipe.user.name %></p>
  <td>いいね件数: <%= recipe.favorites.count %></td>
  <td>コメント件数: <%= recipe.comments.count %></td>
  <p><%= link_to"詳細", recipe_path(recipe.id) %></p>
</div>
<% end %>
<!--kaminari-->
<%= paginate @recipe %>