<div>
  <%= attachment_image_tag @recipe, :image %>
  <p>レシピ名：<%= @recipe.name %></p>
  <p>説明：<%= @recipe.description %></p>
  <p>ユーザーネーム：<%= @recipe.user.name %></p>
  <p>投稿日時：<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>
  <% if @recipe.user == current_user %>
    <%= link_to "削除", recipe_path(@recipe), method: :delete %>
  <% end %>
  <% if @recipe.favorited_by?(current_user) %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
        ♥<%= @recipe.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :post do %>
        ♡<%= @recipe.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>
<div>
  <p>コメント件数:<%= @recipe.comments.count%></p>
  <% @recipe.comments.each do |comment| %>
    <p><%= attachment_image_tag comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% if comment.user == current_user %>
    <div>
      <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete %>
    </div>
  <% end %>

  <% end %>
</div>
<div>
<%= form_with(model:[@recipe, @comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>