<div class = "rowmy-5">
  <div class = "main-container">
  <!--トップ画像の貼り付け　アプリケーションscssと連動させる-->
  
  <div id="container" class="mb-5 text-center ">
      <h3 class="pt-5" id="top-massage">
        ようこそ 『小腹のお供』へ！<br><br>
        小腹のお供は無料でレシピの投稿・閲覧ができるサイトです。<br>
        皆さんの知っている小腹対策レシピを誰でも簡単でおいしく作れるよう、<br>
        気軽に投稿してみましょう！<br><br>
        会員でない方もレシピの閲覧はできますが、レシピ投稿には<%= link_to "会員登録", user_session_path %>が必要になります。
      </h3>
  </div>
  </div>
</div>

<div class="container my-5">
  <div class="row pb-5 pt-2">
    <h2 class="item-headline head-line title_h2 text-center"><span style="background-color:#FFEBCD">新着レシピ</span></h2>
  </div>
  
  <div class = "row mx-auto mt-3">
    <% @recipes.each do |recipe| %>
  <div class = "mx-auto">
    <%= link_to recipe_path(recipe.id) do %>
      <%= attachment_image_tag recipe, :image, :fill, 200, 200, format: 'jpeg', fillback: "no_image.jpg", size: '200×200',class: "rounded" %><br>
    <% end %>
  <div class = "row mt-3">
    <span class = "red-border px-3">
      <p class = "recipe-name(recipe)" >
        <%= link_to recipe.name, recipe_path(recipe.id) %>
      </p> 
    </span>
  </div>
  </div>
   <% end %>
  </div>

<div class = "text-rightrow my-5">
  <%= link_to "全てのレシピを見る", recipes_path(@recipes) %>
</div>
</div>